BACKEND_URL=http://backend-server:3000
BACKEND_EDGE_TOKEN=test-internal-token
DEVICE_CODE=pi-room-a-01
DEVICE_NAME=Raspberry Pi Room A
ROOM_CODE=A101
CAMERA_ID=cam-imx519-01
CONTROL_BASE_URL=http://192.168.1.50:5000
STREAM_BASE_URL=rtsp://192.168.1.50:8554
DEFAULT_STREAM_PATH=attendance
RECORDINGS_DIR=recordings
MEDIAMTX_BINARY=mediamtx
MEDIAMTX_CONFIG=
LIBCAMERA_BINARY=libcamera-vid
RPICAM_BINARY=rpicam-vid
CAMERA_PROBE_BINARY=
FFMPEG_BINARY=ffmpeg
FRAME_WIDTH=1280
FRAME_HEIGHT=720
TARGET_FPS=15
STARTUP_PROBE_TIMEOUT_SECONDS=5
PROCESS_START_GRACE_SECONDS=2
PORT=5000
HEARTBEAT_INTERVAL_SECONDS=15
BACKEND_RETRY_ATTEMPTS=5
BACKEND_RETRY_DELAY_SECONDS=2
